<?xml version="1.0" encoding="utf-8"?>
<menu>
  <menuitem label="Cadastros">
    <icon>fas:circle fa-fw</icon>
    <menu>
      <menuitem label="Usuarios">
        <icon>far:circle fa-fw </icon>
        <action>UsuarioHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Provas">
        <icon>far:circle fa-fw </icon>
        <action>ProvaHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Grupos">
        <icon>far:circle fa-fw </icon>
        <action>GrupoHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Grupos Prova">
        <icon>far:circle fa-fw </icon>
        <action>GrupoProvaHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Grupos Usuario">
        <icon>far:circle fa-fw </icon>
        <action>GrupoUsuarioHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Usuario Prova">
        <icon>far:circle fa-fw </icon>
        <action>UsuarioProvaHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Questoes">
        <icon>far:circle fa-fw </icon>
        <action>QuestaoHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Respostas">
        <icon>far:circle fa-fw </icon>
        <action>RespostaHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Questao Usuario Prova">
        <icon>far:circle fa-fw </icon>
        <action>QuestaoUsuarioProvaHeaderList#method=onShow</action>
      </menuitem>
    </menu>
  </menuitem>

  <menuitem label="Logout">
    <icon>fas:sign-out-alt fa-fw</icon>
    <action>LoginForm#method=onLogout#static=1</action>
  </menuitem>
</menu>
